@import "../App/Mixin.scss";

.data {
  @include border(1.5rem, solid, var(--color-primary));
  border-left: solid 1rem var(--color-primary);
  background-color: var(--color-grey-vlight);
  width: 50%;

  &__title {
    font-family: Montserrat, sans-serif;
    margin-left: 1rem;
    letter-spacing: 1px;
    padding: 2rem;
    position: relative;
  }
}
