@import "../App/Mixin.scss";

.data {
  @include border(1.5rem, solid, var(--color-primary));
  border-left: solid 1rem var(--color-primary);
  background-color: var(--color-grey-vlight);
  width: 50%;

  &__title {
    margin-left: 1rem;
    letter-spacing: 1px;
    padding: 1rem;
    position: relative;
  }

  &__copy {
    background-color: var(--color-tertiary);
    color: var(--color-primary);
    cursor: pointer;
    font-weight: 600;
    font-size: 1.6rem;
    font-family: "Montserrat";
    position: absolute;
    padding: 1rem;
    text-transform: uppercase;
    top: 0;
    right: 0;
  }

  &__text {
    padding: 1rem;
    margin: 1rem;
  }
}
