@import "./Mixin.scss";

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --color-primary: #ffffff;
  --color-secondary: #303030;
  --color-tertiary: #cfb25c;
  --color-grey: #6a6a6a;
  --color-grey-light: #e6e6e6;
  --color-grey-vlight: #f5f5f5;
  --radius-corner: 3px;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  @media screen and (max-width: 1024px) {
    font-size: 1.4rem;
  }
  @media screen and (max-width: 460px) {
    font-size: 1.2rem;
  }
  font-family: "Playfair Display", "Times New Roman", "Georgia", serif;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--color-grey-light);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.main {
  background-color: var(--color-primary);
  @include border(2rem, solid, var(--color-grey-light));
  @media screen and (max-width: 460px) {
    border: none;
  }
  display: flex;
  @media screen and (max-width: 1024px) {
    flex-direction: column;
  }
  min-height: 100vh;
}

.app {
  align-items: center;
  @include border(1.5rem, solid, var(--color-primary));
  border-right: solid 1rem var(--color-primary);
  @media screen and (max-width: 1024px) {
    border-right: solid 1.5rem var(--color-primary);
  }
  background-color: var(--color-secondary);
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 2rem;
  position: relative;
  width: 50%;
  @media screen and (max-width: 1024px) {
    width: 100%;
  }
}

.form {
  display: flex;
  margin-top: 2rem;
  width: 100%;

  &__input,
  &__select,
  &__button {
    border: none;
    border-radius: var(--radius-corner);
    font-size: 2rem;
    margin-right: 1rem;
    letter-spacing: 1px;
    padding: 1.2rem;
    text-transform: uppercase;
  }

  &__input {
    border: none;
    color: var(--color-grey);
    width: 20%;
  }

  &__select {
    color: var(--color-grey);
    width: 80%;
  }
}
