@import "./Mixin.scss";
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --color-primary: #ffffff;
  --color-secondary: #303030;
  --color-tertiary: #cfb25c;
  --color-grey: #6a6a6a;
  --color-grey-light: #e6e6e6;
  --color-grey-vlight: #f5f5f5;
  --radius-corner: 3px;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: "Playfair Display", "Times New Roman", "Georgia", serif;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--color-grey-light);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.main {
  background-color: var(--color-primary);
  @include border(2rem, solid, var(--color-grey-light));
  display: flex;
  min-height: 100vh;
}

.app {
  align-items: center;
  @include border(1.5rem, solid, var(--color-primary));
  border-right: solid 1rem var(--color-primary);
  background-color: var(--color-secondary);
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 2rem;
  position: relative;
  width: 50%;

  &__title,
  strong {
    color: var(--color-tertiary);
    letter-spacing: 3px;
    text-transform: uppercase;
  }

  strong {
    font-size: 3.6rem;
    font-weight: 600;
  }

  &__title {
    font-size: 2rem;
    font-weight: 200;
    text-align: center;
  }

  &__footer {
    bottom: 1rem;
    color: var(--color-primary);
    font-size: 1.2rem;
    letter-spacing: 1px;
    position: absolute;
    right: 1rem;
  }

  .decoration {
    align-items: center;
    display: flex;
    margin-top: 5rem;

    &__letter {
      color: var(--color-tertiary);
      text-transform: uppercase;
      font-size: 10rem;
      font-weight: 200;
      line-height: 10rem;
    }

    &__text {
      color: var(--color-primary);
      letter-spacing: 2px;
      line-height: 1.8rem;
      font-size: 1.2rem;
      padding-left: 2rem;
    }
  }

  .form {
    display: flex;
    margin-top: 2rem;
    width: 100%;

    &__input,
    &__select,
    &__button {
      border: none;
      border-radius: var(--radius-corner);
      font-size: 2rem;
      margin-right: 1rem;
      letter-spacing: 1px;
      padding: 1.2rem;
      text-transform: uppercase;
    }

    &__input {
      border: none;
      color: var(--color-grey);
      width: 10%;
    }

    &__select {
      color: var(--color-grey);
      width: 70%;
    }

    &__button {
      background-color: var(--color-tertiary);
      color: var(--color-primary);
      cursor: pointer;
      width: 20%;
    }
  }
}

.data {
  @include border(1.5rem, solid, var(--color-primary));
  border-left: solid 1rem var(--color-primary);
  background-color: var(--color-grey-vlight);
  width: 50%;

  &__title {
    margin-left: 1rem;
    letter-spacing: 1px;
    padding: 1rem;
    position: relative;
  }

  &__copy {
    background-color: var(--color-tertiary);
    color: var(--color-primary);
    cursor: pointer;
    font-weight: 600;
    font-size: 1.6rem;
    font-family: "Montserrat";
    position: absolute;
    padding: 1rem;
    text-transform: uppercase;
    top: 0;
    right: 0;
  }

  &__text {
    padding: 1rem;
    margin: 1rem;
  }
}
